.PageView.asistenDetail{
    background: rgb(242, 250, 253);
    
    .content
	{
        background-color: rgb(255, 255, 255);
        margin-left: 5%;
    }
    .card
    {
        margin-left: 5%;
        margin-top: 5%;
        width: 90%;
        background-color:  rgb(242, 250, 253);
        box-shadow: 0 1px 8px 0 rgb(217, 221, 223);
        transition: 0.3s;
        .card_text {
            margin-top: 1%;
            margin-bottom: 1%;
        }
    }
}