.NotifPane
{
	.header {
        font-weight: bold;
        
        .title
        {
            font-weight: bold;
        }
	}
	.marksAll {
		float: right;
    }
    .footer {
        text-align: center;
        margin-top: 12;
        height: 32;
        line-height: 32px;
    }
}