.DoorView
{
    background-color: #607D8B !important;
    background-image: url('https://lab.sipas.id/master/v5.50/webapp/src/resources/theme/app/home.wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}